h1
{
 color: aquamarine;
}
p{

    font-weight: bold;
}

h2{
    color: brown
}
image{
    width: 100%;
}
.title{
    font-size: 45px;
}
.column{
    display: inline-block;
    width: 48%;
}
.col1{
    background-color: brown;
}
.col2{
    background-color:yellow;
}