h1
{
 color: aquamarine;
}
p{

    font-weight: bold;
}

h2{
    color: brown
}
image{
    width: 100%;
}
.title{
    font-size: 45px;
}
.column{
    display: inline-block;
    width: 48%;
}
.col1{
    background-color: brown;
}
.col2{
    background-color:yellow;
}
.hero{
    height: ;
}
.intro{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50% );
}
/**about  section**/
.container{
    max-width: 50px;
    display: block;
    margin: auto;
    max: height 75px; 
}

.col-30{
    width: 29%;
}
.col-70{
    width: 69;
}
.content {
    padding-left: 20px ;
    padding-right: 40px;
    vertical-align: top;

}
@media screen and (max-width: 767px){
    .column{
        display: block;
        width: 100%;
         
    } 
}